
/*#overlay-pic {
  width: 60%;
  border: black;
}*/

.picture {
  width: 20%;
}

.picture-collection {

}

.display-none {
  display: none
}

.expand {
  width: 600px !important;
  height: 400px !important;
}

.display-pic {
  /*width: 40%;*/
  width: 300px;
  height: 200px;
}

.expand-box {
  background-color: rgba(40, 40, 40, 0.5);
}
